@font-face {
  font-family: 'hello';
  src: url('hello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.ttfIcon {
  font: normal normal normal 14px/1 hello;
}
.ttfIcon:before {
  content: "\e001";
}

.iconA {
  display: block;
  width: 30px;
  height: 30px;
  color: red;
  /* style | variant | weight | stretch | size/line-height | family */
  font: normal normal normal 14px/1 FontAwesome;
}

.iconA:before {
  content: "\f2c4";
}

.iconB {
  font: normal normal normal 14px/1 geniconsfont;
}

.iconB:before {
  content: "\E001";
}

.iconC {

}

.fontTestSmall {
  font-variant: small-caps;
}

.fontTestLarge {
  /* 初期化のみ*/
  font-variant: normal;
}

.svgIcon {
  display:block;
  width:30px;
  height:30px;
  background-image: url('projector.svg');
  background-size: 100%;
}
