.iconA {
  display: block;
  width: 30px;
  height: 30px;
  color: red;
  /* style | variant | weight | stretch | size/line-height | family */
  font: normal normal normal 14px/1 FontAwesome;
}

.iconA:before {
  content: "\f2c4";
}

.iconB {

}

.iconC {

}

.fontTestSmall {
  font-variant: small-caps;
}

.fontTestLarge {
  /* 初期化のみ*/
  font-variant: normal;
}
